@font-face {
  font-family: "Mukta Mahee Sangeet";
  src: url("assets/MuktaMaheeSangeet-Regular.ttf");
}

html {
  text-align: center;
  font-family: "Mukta Mahee Sangeet", serif;
  font-size: 40vh;
  -webkit-user-select: none;
  user-select: none;
}

#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #EEEEEE;
  border-radius: 10px;
  overflow: hidden;
  width: 90%;
  cursor: pointer;
}