@font-face {
  font-family: "Mukta Mahee Sangeet";
  src: url("assets/MuktaMaheeSangeet-Regular.ttf");
}

body {
  -webkit-user-select: none;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
}

.swar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  border-radius: 5cqmax;
  background-color: #EEEEEE;
  cursor: pointer;
}

.swar-text {
  font-family: "Mukta Mahee Sangeet", serif;
  font-size: 55vh;
}