body, #root {
  -webkit-user-select: none;
  user-select: none;
  font-family: 'Mukta Mahee Sangeet', 'Open Sans', 'Arial', sans-serif;
  height: 100dvh;
  margin: 0;
}


.container {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1vh;
}

.current-note {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55vh;
  border-radius: 5cqmax;
  background-color: #EEEEEE;
  cursor: pointer;
  overflow: hidden;

  .current-note-text {
    width: 100%;
    text-align: center;
    background-color: #EEEEEE;
    font-size: min(50vh, 100vw);

    &.current-note-text--length-2 {
      font-size: min(50vh, calc(100vw / 2))
    }

    &.current-note-text--length-3 {
      font-size: min(50vh, calc(100vw / 3))
    }

    &.current-note-text--length-4 {
      font-size: min(50vh, calc(100vw / 4));
    }
  }
}

.settings {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: 3vh;
}

.toggle-button-text {
  font-size: min(4vh, 5vw);
  white-space: nowrap;
}
