body {
  -webkit-user-select: none;
  user-select: none;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

:root {
  --gurmukhi-font-family: "Mukta Mahee Sangeet", serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
}

.current-note {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  border-radius: 5cqmax;
  background-color: #EEEEEE;
  cursor: pointer;
}

.current-note-text {
  font-family: var(--gurmukhi-font-family);
  font-size: 55vh;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.5em;
  font-size: 3vh;
  width: 80vw;
}

.toggle-button-text {
  font-family: var(--gurmukhi-font-family);
  font-size: 4vh;
}
